<h3> Relatório </h3>

<div class="border-div">
  <%= pie_chart Despesa.joins(:categoria).per_user(current_user.id).group(:name).sum(:valor) %>
</div>

<div class="border-div">
  <%= bar_chart Despesa.joins(:categoria).per_user(current_user.id).group(:name).group_by_month(:date).sum(:valor) %>
</div>

<div class="border-div">
  <%= column_chart Despesa.joins(:categoria).per_user(current_user.id).group(:name).group_by_month(:date).sum(:valor) %>
</div>

<div class="border-div">
  <%= bar_chart Despesa.joins(:categoria).per_user(current_user.id).group_by_month(:date).sum(:valor) %>
</div>