<div class="col-md-3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Profile Settings</h4>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">Account</a>
        </li>
        <li class="nav-item">
          <%= link_to t('menu.settings'), settings_path, class: "nav-link #{'active' if current_page?(settings_path)}"  %>
        </li>
        <li class="nav-item">
          <%= link_to t('menu.categories'), categorias_settings_path, class: "nav-link #{'active' if current_page?(categorias_settings_path)}" %>
        </li>
        <li class="nav-item">
          <%= link_to t('menu.edit_profile'), edit_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" href="#">Delete account</a>
        </li>
      </ul>
    </div>
  </div>
</div>