<div class="container my-5">
  <div class="row">
    <%= render 'profile_sidebar' %>

    <div class="col-md-9">
      <div class="card mb-4">
        <div class="card-header card-header-settings">
          <%= t('menu.categories') %>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <% @categories.each do |category| %>
                <div class="form-check">
                  <%= check_box_tag "category_ids[]", category.id, true, class: "form-check-input" %>
                  <%= label_tag "category_#{category.id}", I18n.t("despesa.descriptions.#{Categoria.find_by(id: category.id).name.downcase}", 
                        default: Categoria.find_by(id: category.id).name), class: "form-check-label" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>