// Place all the styles related to the despesas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto Slab', serif;
}

.panel1 {
  background: linear-gradient(to bottom, #dcb3dd, #cd7ad8); 
}

.panel-body-font {
  font-family: "Courier", Courier;
}