.devise-label{
  display: block;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
}

.devise-form-wrapper {
  display: flex;
  justify-content: center;    /* Centers horizontally */
  padding: 20px;              /* Optional padding for smaller screens */
}

.devise-form{
  height: 800px;
  width: 500px;
  background-color: rgba(255,255,255,0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
  font-family: 'Roboto Slab', serif;
  color: black;
  letter-spacing: 0.5px;
  outline: none;
}

.devise-header{
  font-family: 'Roboto Slab', serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.devise-input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder{
  color: #e5e5e5;
}

.devise-update-button{
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.devise-button-group {
  display: flex;
  justify-content: space-between; 
}

.devise-extra-button{
  background: red;
  width: 208px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #17191d;
  text-align: center;
}